.Main {
    background-color: #2B3043;
}

.Main input {
    margin-bottom: 25px;
    background-color: white;
    width: 450x;
    height: 50px;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.mainbox {
    display: block;
    width: 1000px;
    height: 1000px;
    background-color: #353e61;
    margin-left: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
.sidebox {
    position: absolute;
    top: 99px;
    left: 1022px;
    display: block;
    width: 250px;
    height: 500px;
    background-color: #353e61;
    margin-left: 10px;
    margin-bottom: 10px;
}